server:
  port: 8070

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/longyuanbing/configs/           # 配置git仓库的地址
          search-paths: configs                                # git仓库地址下的相对地址，可以配置多个，用,分割。
          username: longyuanbing                                           # git仓库的账号
          password: lyb19860603                                             # git仓库的密码
eureka:
  user:
    name: admin
    password: admin123456
  instance:
    leaseRenewalIntervalInSeconds: 10                # 续约更新时间间隔（默认20秒）
    leaseExpirationDurationInSeconds: 30             # 续约到期时间（默认60秒）
  client:
    serviceUrl:
      defaultZone: http://${eureka.user.name}:${eureka.user.password}@discovery:8760/eureka/
      healthcheck: true